body {
    background-color: #1a1a1a;
    color: #ffffff;
    font-family:'Segoe UI', Roboto, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.escenario-artistico {
    text-align: center;
    padding: 20px;
}

.escenario-artistico h1 {
    font-size: 20pt;
    color: #f39c12;
    margin-bottom: 40px;
}

#lienzo-monalisa {
    width: 10px;
    height: 10px;
    background: transparent;

    margin: 0 auto 40px auto;


    box-shadow:
    /* --- FILA 1: Cabello superior --- */
    30px 10px #2c1d11, 40px 10px #2c1d11, 50px 10px #2c1d11, 60px 10px #2c1d11,

    /* --- FILA 2: Velo y frente --- */
    20px 20px #2c1d11, 30px 20px #e5c298, 40px 20px #e5c298, 50px 20px #e5c298, 60px 20px #e5c298, 70px 20px #2c1d11,


    /* --- FILA 3: Ojos y cejas --- */
    20px 30px #2c1d11, 30px 30px #111111, 40px 30px #e5c298, 50px 30px #e5c298, 60px 30px #111111, 70px 30px #2c1d11,


    /* --- FILA 4: Nariz y mejillas --- */
    20px 40px #2c1d11, 30px 40px #e5c298, 40px 40px #d4a373, 50px 40px #e5c298, 60px 40px #e5c298, 70px 40px #2c1d11,


    /* --- FILA 5: Labios de la icónica sonrisa --- */
    20px 50px #2c1d11, 30px 50px #e5c298, 40px 50px #c0392b, 50px 50px #c0392b, 60px 50px #e5c298, 70px 50px #2c1d11,


    /* --- FILA 6: Mentón y cuello --- */
    20px 60px #2c1d11, 30px 60px #2c1d11, 40px 60px #e5c298, 50px 60px #e5c298, 60px 60px #2c1d11, 70px 60px #2c1d11,


    /* --- FILA 7: Comienzo del vestido oscuro --- */
    10px 70px #1e2419, 20px 70px #1e2419, 30px 70px #1e2419, 40px 70px #1e2419, 50px 70px #1e2419, 60px 70px #1e2419, 70px 70px #1e2419, 80px 70px #1e2419,


    /* --- FILA 8: Torso del vestido --- */
    10px 80px #1e2419, 20px 80px #1e2419, 30px 80px #d4a373, 40px 80px #1e2419, 50px 80px #1e2419, 60px 80px #d4a373, 70px 80px #1e2419, 80px 80px #1e2419;
}

.nota-tecnica {
    font-size: 10pt;
    color: #666666;
    font-style: italic;
    letter-spacing: 0.5px;
}