body {
    background-color: #e0e5ec;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    padding-top: 50px;
    margin: 0;
}

.tarjeta {
    background-color: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
    max-width: 400px;
}

h2 {
    color: #2d3436;
    margin-bottom: 10px;
}

h3 {
    color: #636e72;
    margin-top: 20px;
    font-weight: normal;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background: #dfe6e9;
    margin: 8px 0;
    padding: 10px;
    border-radius: 8px;
    color: #444;
}